Repository CodeSystem2022/Alibaba-Tercer-Semestre, pull requests merged in 2023-05, with the labels that each got.

#37 update 02-03-arreglos.js
  Javascript/Semana 2/02-03-arreglos.js
Labels: JavaScript

#40 Add Manejo_archivos file
  Python/Semana2/Manejo_archivos.py
  Python/Semana2/manejo_archivos.py
Labels: Python

#55 Semana 3
  Javascript/Semana 3/01-03-funciones.js
Labels: JavaScript

#68 Semana 4
  Javascript/Semana 4/01-04-objetos.js
Labels: JavaScript

#71 Commit Java semana 4
  Java/Semana4/Sobreescritura/build.xml
  Java/Semana4/Sobreescritura/manifest.mf
  Java/Semana4/Sobreescritura/nbproject/build-impl.xml
  Java/Semana4/Sobreescritura/nbproject/genfiles.properties
  Java/Semana4/Sobreescritura/nbproject/private/private.properties
  Java/Semana4/Sobreescritura/nbproject/private/private.xml
  Java/Semana4/Sobreescritura/nbproject/project.properties
  Java/Semana4/Sobreescritura/nbproject/project.xml
  Java/Semana4/Sobreescritura/src/domain/Empleado.java
  Java/Semana4/Sobreescritura/src/domain/Gerente.java
  Java/Semana4/Sobreescritura/src/test/testSobreescritura.java
Labels: Java

#73 commit jdk17
  Java/Semana4/Sobreescritura/nbproject/build-impl.xml
  Java/Semana4/Sobreescritura/nbproject/genfiles.properties
  Java/Semana4/Sobreescritura/nbproject/private/config.properties
  Java/Semana4/Sobreescritura/nbproject/private/private.properties
  Java/Semana4/Sobreescritura/nbproject/project.properties
  Java/Semana4/Sobreescritura/nbproject/project.xml
  Javascript/Semana 4/01-04-objetos.js
Labels: Java

#75 Se modifica el código según el video 1.4
  Java/Semana4/InstanceOf/build.xml
  Java/Semana4/InstanceOf/manifest.mf
  Java/Semana4/InstanceOf/nbproject/build-impl.xml
  Java/Semana4/InstanceOf/nbproject/genfiles.properties
  Java/Semana4/InstanceOf/nbproject/private/config.properties
  Java/Semana4/InstanceOf/nbproject/private/private.properties
  Java/Semana4/InstanceOf/nbproject/private/private.xml
  Java/Semana4/InstanceOf/nbproject/project.properties
  Java/Semana4/InstanceOf/nbproject/project.xml
  Java/Semana4/InstanceOf/src/domain/Empleado.java
  Java/Semana4/InstanceOf/src/domain/Gerente.java
  Java/Semana4/InstanceOf/src/test/TestInstanceOf.java
  Javascript/Semana 4/01-04-objetos.js
Labels: JavaScript

#87 Semana 5
  Java/Semana5/build.xml
  Java/Semana5/manifest.mf
  Java/Semana5/nbproject/build-impl.xml
  Java/Semana5/nbproject/genfiles.properties
  Java/Semana5/nbproject/private/config.properties
  Java/Semana5/nbproject/private/private.properties
  Java/Semana5/nbproject/private/private.xml
  Java/Semana5/nbproject/project.properties
  Java/Semana5/nbproject/project.xml
  Java/Semana5/src/domain/Empleado.java
  Java/Semana5/src/domain/Escritor.java
  Java/Semana5/src/domain/TipoEscritura.java
  Java/Semana5/src/test/TestConversionObjetos.java
  Javascript/Semana 2/02-03-arreglos.js
Labels: Java

#106 Python6.2
  Python/Semana 6/transacciones.py
  Python/Semana 6/transacciones_dos.py
Labels: Python

#125 Capa Datos resultado
  Python/Semana 7/capa_datos_persona/capa_datos.log
  Python/Semana 7/capa_datos_persona/logger_base.py
Labels: Python
