Repository CodeSystem2022/Alibaba-Tercer-Semestre, pull requests merged in 2023-06, with the labels that each got.

#145 Semana 8
  Javascript/Semana 8/05-03-clases.js
Labels: JavaScript

#147 Agregar proyecto JavaBeans dentro Leccion 7 en Semana 8
  Java/Semana8/Leccion 7/JavaBeans/.gitignore
  Java/Semana8/Leccion 7/JavaBeans/pom.xml
  Java/Semana8/Leccion 7/JavaBeans/src/main/java/ar/com/utnfrsr/domain/Persona.java
  Java/Semana8/Leccion 7/JavaBeans/src/main/java/ar/com/utnfrsr/test/TestJavaBeans.java
Labels: Java

#148 8.2/3 Atributos estaticos vs no estaticos
  Javascript/Semana 8/05-03-clases.js
Labels: JavaScript

#149 Se sube la clase persona_dao completa y pruebas de funcionamiento
  Python/Semana 8/Leccion 7/persona_dao.py
Labels: Python

#150 Update 05-03-clases.js
  Javascript/Semana 8/05-03-clases.js
Labels: JavaScript

#188 Update SistemaVentas.js
  Javascript/Semana 10/SistemaVentas.js
Labels: JavaScript
